<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Save Dana</title>
    <%= stylesheet_link_tag 'bootstrap', 'bootstrap-theme' %>
    <%= javascript_include_tag 'bootstrap.min', 'jquery', 'jquery-ujs' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>