<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:clothings, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:clothings, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :clothing, url(:clothings, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'clothings/form', :locals => { :f => f } %>
 <% end %>
</div>
